@inherits Microsoft.VisualStudio.Web.CodeGeneration.Templating.RazorTemplateBase
@using Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore
@using System.Collections.Generic
@using System.Linq
@{
@:@@using N4C.Models
@:@@using N4C.Extensions
    var entity = Model.ViewDataTypeName.Split('.')[Model.ViewDataTypeName.Split('.').Length - 1];
    var viewModel = "@model Result<" + entity + "Response>";
    bool mainFileFound = false;
}

@viewModel

@@* Generated from N4C Template. *@@
@@* @(entity + "Response") namespace using directive should be added to _ViewImports.cshtml. *@@

@{
@:@@{
    @:var containerDivClass = "container-fluid"; // "container" can be used for no full width
    @:var details = Model.Culture == Defaults.TR ? "Detayı" : "Details";
    @:var edit = Model.Culture == Defaults.TR ? "Düzenle" : "Edit";
    @:var delete = Model.Culture == Defaults.TR ? "Sil" : "Delete";
    @:var backToList = Model.Culture == Defaults.TR ? "Listeye Dön" : "Back to List";
    @:var deleteMainFile = Model.Culture == Defaults.TR ? "Ana Dosyayı Sil" : "Delete Main File";
    @:var deleteOtherFile = Model.Culture == Defaults.TR ? "Diğer Dosyayı Sil" : "Delete Other File";
    @:var mainFileMessage = Model.Culture == Defaults.TR ? "Önce diğer dosyalar silinmelidir!" : "Other files must be deleted first!";
    @:var isAuthenticated = User.Identity.IsAuthenticated;
@:}
    if (Model.IsPartialView)
    {
    }
    else if (Model.IsLayoutPageSelected)
    {
@:@@{
    @:ViewData["Title"] = $"{Model.Title} {details}";
        if (!string.IsNullOrEmpty(Model.LayoutPageFile))
        {
    @:Layout = "@Model.LayoutPageFile";
        }
@:}
    }
    else
    {
@:@@{
    @:Layout = null;
@:}
@:
@:<!DOCTYPE html>
@:
@:<html>
@:<head>
    @:<meta name="viewport" content="width=device-width" />
    @:<title>>@@($"{Model.Title} {details}")</title>
@:</head>
@:<body>
    }
}
@{
@:<div class="@@containerDivClass">
    @:<partial name="_N4Cmessage" model="Model" />
@:@@if (Model.Data is not null)
@:{
Dictionary<string, IPropertyMetadata> propertyLookup = ((IModelMetadata)Model.ModelMetadata).Properties.ToDictionary(x => x.PropertyName, x => x);
Dictionary<string, INavigationMetadata> navigationLookup = ((IModelMetadata)Model.ModelMetadata).Navigations.ToDictionary(x => x.AssociationPropertyName, x => x);

foreach (var item in Model.ModelMetadata.ModelType.GetProperties())
{
    if (item.Name != "Guid" && item.Name != "Deleted" && item.Name != "CreatedBy" && item.Name != "UpdatedBy" && item.Name != "OtherFiles" && item.Name != "RefreshToken" && item.Name != "RefreshTokenExpiration")
    {
    if (propertyLookup.TryGetValue(item.Name, out IPropertyMetadata property)
        && property.Scaffold && !property.IsForeignKey && !property.IsPrimaryKey)
    {
    if (item.Name == "MainFile")
    {
        mainFileFound = true;
    <hr />
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @@Html.DisplayNameFor(model => model.Data.MainFile, Model.Culture)
        </div>
        <div class="col-5">
            @{
            @:@@if (Model.Data.MainFile.HasNotAny() && Model.Data.OtherFiles.HasNotAny())
            @:{
            @:<span><i class="bx bx-image" style="font-size:xx-large;"></i></span>
            @:}
            @:else
            @:{
            @:<div id="files" class="carousel slide" data-bs-interval="false">
                @:<div class="carousel-inner">
                    @:@@if (Model.Data.MainFile.HasAny())
                    @:{
                    @:<div class="carousel-item active">
                        @:<div class="d-flex flex-column align-items-center">
                            @:<a asp-action="Download" asp-controller="Files" asp-route-path="@@Model.Data.MainFile">
                                @:<img src="@@Model.Data.MainFile" class="d-block img-fluid" />
                            @:</a>
                            @:<div class="mt-2">
                                @:<a asp-action="DeleteFileConfirmed" asp-route-id="@@Model.Data.Id" asp-route-path="@@Model.Data.MainFile" class="btn btn-danger btn-sm deletemainfile">@@deleteMainFile</a>
                            @:</div>
                        @:</div>
                    @:</div>
                    @:}
                    @:@@if (Model.Data.OtherFiles != null && Model.Data.OtherFiles.Any())
                    @:{
                    @:var isFirst = Model.Data.MainFile.HasNotAny();
                    @:var active = isFirst ? "active" : "";
                    @:foreach (var otherFile in Model.Data.OtherFiles)
                    @:{
                    @:<div class="carousel-item @@active">
                        @:<div class="d-flex flex-column align-items-center">
                            @:<a asp-action="Download" asp-controller="Files" asp-route-path="@@otherFile">
                                @:<img src="@@otherFile" class="d-block img-fluid" />
                            @:</a>
                            @:<input type="hidden" value="@@otherFile" class="otherfiles" />
                            @:<div class="mt-2">
                                @:<a asp-action="DeleteFileConfirmed" asp-route-id="@@Model.Data.Id" asp-route-path="@@otherFile" class="btn btn-danger btn-sm">@@deleteOtherFile</a>
                            @:</div>
                        @:</div>
                    @:</div>
                    @:isFirst = false;
                    @:}
                    @:}
                @:</div>
                @:<button class="carousel-control-prev bg-primary" type="button" data-bs-target="#files" data-bs-slide="prev">
                    @:<span class="carousel-control-prev-icon" aria-hidden="true"></span>
                @:</button>
                @:<button class="carousel-control-next bg-primary" type="button" data-bs-target="#files" data-bs-slide="next">
                    @:<span class="carousel-control-next-icon" aria-hidden="true"></span>
                @:</button>
            @:</div>
            @:}
            }
        </div>
    </div>
    }
    else
    {
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @@Html.DisplayNameFor(model => model.Data.@GetValueExpression(property), Model.Culture)
        </div>
        <div class="col-10">
            @@Html.Raw(Model.Data.@GetValueExpression(property))
        </div>
    </div>
    }
    }
    else if (navigationLookup.TryGetValue(item.Name, out INavigationMetadata navigation))
    {
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            @@Html.DisplayNameFor(model => model.Data.@GetValueExpression(navigation), Model.Culture)
        </div>
        <div class="col-10">
            @@Html.Raw(Model.Data.@GetValueExpression(navigation))
        </div>
    </div>
    }
    }
}
@:
@:@@* Can be uncommented and used for many to many relationships. {Entity} must be replaced with the related name in the controller and views. *@@
    @:@@*
    <div class="row mb-3">
        <div class="col-2 fw-bold">
            <b>@@Html.DisplayNameFor(model => model.Data.{Entity}s, Model.Culture)</b>
        </div>
        <div class="col-10">
            @@Html.Raw(Model.Data.{Entity}s)
        </div>
    </div>
    @:*@@
}
@{
    @:<hr /> 
string pkName = GetPrimaryKeyName();
if (pkName != null)
{
@:@@if (isAuthenticated)
@:{
    @:<a asp-action="Edit" asp-route-id="@@Model.Data.@pkName">@@edit</a>@@:&nbsp;|&nbsp;
    @:<a asp-action="Delete" asp-route-id="@@Model.Data.@pkName">@@delete</a>@@:&nbsp;|&nbsp;
@:}
    @:<a asp-action="Index" asp-route-pageordersession="true">@@backToList</a>
}
@:}
@:</div>
if (mainFileFound)
{
@:
@:@@section Scripts {
    @:<script>
        @:$(function () {
            @:$('.deletemainfile').click(function (event) {
                @:var preventEvent = false;
                @:if ($('.mainfile').val() != '') {
                    @:$('.otherfiles').each(function () {
                        @:if ($(this).val() != '') {
                            @:preventEvent = true;
                        @:}
                    @:});
                @:}
                @:if (preventEvent) {
                    @:event.preventDefault();
                    @:$('.mainfilemessage').text('@@Html.Raw(mainFileMessage)');
                @:}
            @:});
        @:});
    @:</script>
@:}
}
}
@{
    if (!Model.IsPartialView && !Model.IsLayoutPageSelected)
    {
@:</body>
@:</html>
    }
}
@functions
{
    string GetPrimaryKeyName()
    {
        return (Model.ModelMetadata.PrimaryKeys != null && Model.ModelMetadata.PrimaryKeys.Length == 1)
        ? Model.ModelMetadata.PrimaryKeys[0].PropertyName
        : null;
    }

    string GetValueExpression(IPropertyMetadata property)
    {
        if (property.TypeName.Equals(typeof(bool).FullName) || property.TypeName.Equals(typeof(bool?).FullName) ||
            property.TypeName.Equals(typeof(DateTime).FullName) || property.TypeName.Equals(typeof(DateTime?).FullName) ||
            property.TypeName.Equals(typeof(decimal).FullName) || property.TypeName.Equals(typeof(decimal?).FullName) ||
            property.TypeName.Equals(typeof(double).FullName) || property.TypeName.Equals(typeof(double?).FullName) ||
            property.TypeName.Equals(typeof(float).FullName) || property.TypeName.Equals(typeof(float?).FullName))
        {
            return property.PropertyName + "_";
        }
        return property.PropertyName;
    }

    string GetValueExpression(INavigationMetadata navigation)
    {
        return navigation.AssociationPropertyName;
    }
}