@using N4C.Models
@using N4C.Users.App

@model Result

@{
    ViewData["Title"] = Model.Culture == Defaults.TR ? "Ana Sayfa" : "Home";
}

<div class="container-fluid">
    <partial name="_N4Cmessage" />
    <div class="text-center">
        <h3 class="display-4">@N4CAppSettings.Title</h3>
        <hr />
        <h5>@(Model.Culture == Defaults.TR ? N4CAppSettings.DescriptionTR : N4CAppSettings.DescriptionEN)</h5>
    </div>
</div>
