@using N4C.App
@using System.Net

@{
	var view = (View?)ViewBag.View;
	var message = (string?)TempData["Message"] ?? string.Empty;
	var httpStatusCode = (int?)TempData["HttpStatusCode"];
}
@if (view is not null && view.HttpStatusCode == HttpStatusCode.InternalServerError)
{
	<p class="text-danger">
		@Html.Raw(view.Message)
	</p>
}
@if (!string.IsNullOrWhiteSpace(message) && httpStatusCode == (int)HttpStatusCode.InternalServerError)
{
	<p class="text-danger">
		@Html.Raw(message)
	</p>
}