@using N4C.App

@model bool

@{
    var view = (View?)ViewBag.View;
    var culture = view is null ? Cultures.TR : view.Culture;
    var hidePassword = culture == Cultures.TR ? "Şifre Gizle" : "Hide Password";
    var showPassword = culture == Cultures.TR ? "Şifre Göster" : "Show Password";
}

<a id="passwordlink" href="#" onclick="showHidePassword();">
    @(Model ? showPassword : hidePassword)
</a>

<script>
    @{
        if (Model)
        {
            @:var showPassword = false;
        }
        else
        {
            @:var showPassword = true;
        }
    }
    var passwordLink = document.getElementById("passwordlink");
    var passwordInputs = document.getElementsByClassName("password");
    function showHidePassword() {
        if (passwordInputs.length != 0) {
            showPassword = !showPassword;
            passwordLink.innerHTML = showPassword ? '@hidePassword' : '@showPassword';
            for (let i = 0; i < passwordInputs.length; i++) {
                passwordInputs[i].type = showPassword ? "text" : "password";
            }
        }
    }
</script>