@using N4C.Models

@model Result

@{
    ViewData["Title"] = Model.Culture == Defaults.TR ? "Hakkında" : "About";
}

<div class="text-center">
    <h3>
        &copy; @DateTime.Now.Year | @(Model.Culture == Defaults.TR ? "Geliştiren:" : "Developed by:")
        <a href="https://need4code.com/cagilalsac" target="_blank">
            @(Model.Culture == Defaults.TR ? "Çağıl Alsaç" : "Cagil Alsac")
        </a>
        &nbsp;|&nbsp;
        <a href="https://github.com/cagilalsac/N4C" target="_blank"><i class="bi bi-github"></i> N4C GitHub</a>
    </h3>
</div>
