@using N4C.Models

@model bool

@{
    var hidePassword = Html.Raw("<i class='bx bxs-hide'></i>");
    var showPassword = Html.Raw("<i class='bx bxs-show'></i>");
}

<a id="passwordlink" href="#" onclick="showHidePassword();">
    @(Model ? showPassword : hidePassword)
</a>

<script>
    @{
        if (Model)
        {
            @:var showPassword = false;
        }
        else
        {
            @:var showPassword = true;
        }
    }
    var passwordLink = document.getElementById("passwordlink");
    var passwordInputs = document.getElementsByClassName("password");
    function showHidePassword() {
        if (passwordInputs.length != 0) {
            showPassword = !showPassword;
            passwordLink.innerHTML = showPassword ? "@hidePassword" : "@showPassword";
            console.log(passwordLink);
            for (let i = 0; i < passwordInputs.length; i++) {
                passwordInputs[i].type = showPassword ? "text" : "password";
            }
        }
    }
</script>