@using N4C.App

@{
    var view = (View?)ViewBag.View;
    var culture = view is null ? Cultures.TR : view.Culture;
}

@{
    ViewData["Title"] = culture == Cultures.TR ? "Hakkında" : "About";
}

<div class="text-center">
    <h3>
        &copy; @DateTime.Now.Year | @(culture == Cultures.TR ? "Geliştiren:" : "Developed by:")
        <a href="https://need4code.com/cagilalsac" target="_blank">
            @(culture == Cultures.TR ? "Çağıl Alsaç" : "Cagil Alsac")
        </a>
        &nbsp;|&nbsp;
        <a href="https://github.com/cagilalsac/N4C" target="_blank"><i class="bi bi-github"></i> N4C GitHub</a>
    </h3>
</div>
